<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>qid</th>
            <th>Question</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
        <%
        if(questionsData.length!=0){
        var i=1;
        questionsData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.qid %></td>
            <td><%=data.question %></td>
            <td><a href="/questions/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/questions/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>